{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="{% static 'css/materialize.min.css'  %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listen Together</title>
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="{% url 'welcome' %}" style="padding-left: 10px;" class="brand-logo">Listen Together</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{% url 'welcome' %}">Home</a></li>
                <li><a href="{% url  'upload' %}">Upload</a></li>
                <!-- <li><a href="collapsible.html">JavaScript</a></li> -->
            </ul>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>